<!DOCTYPE html>
<html>
    <head>
        <title>CubbyHole API</title>
    </head>

    <body>

        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script>
            // $.ajax({
            //     url: '/auth/signin',
            //     type: 'POST',
            //     contentType: 'application/json',
            //     data: JSON.stringify({ email: 'w', pass: 'wop' }),
            //     success: function (res) {
            //         $.ajax({
            //             url: '/item',
            //             type: 'GET',
            //             headers: {
            //                 'X-Cub-AuthToken': res.profile.token
            //             },
            //             success: function (folders) {
            //                 // tree @folders.data
            //                 $.ajax({
            //                     url: '/item/',
            //                     type: 'POST',
            //                     headers: {
            //                         'X-Cub-AuthToken': res.profile.token
            //                     },
            //                     contentType: 'application/json',
            //                     data: JSON.stringify({ name: 'random', type: 'folder' }),
            //                     success: function (newitem) {
            //                         console.log(newitem);
            //                     }, error: function (err) {
            //                         console.log(err);
            //                     }
            //                 });
            //             }, error: function (err) {
            //                 console.log(err);
            //             }
            //         });
            //     }, error: function (err) {
            //         console.log(err);
            //     }
            // });
        </script>
    </body>
</html>